// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/icons";

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~normalize.css/normalize.css";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}